<div class="item-list">

    <!-- 精選商品區域開始 -->
    <h3 style="text-align:center; font-size: 20px" *ngIf="isEmpty">您所搜尋的甜點列表為空</h3>

    <ng-container *ngFor="let product of filteredProduct">
        <app-product-item [item]="product"></app-product-item>
    </ng-container>
    <!-- 精選商品區域開始 -->

</div>

<div class="pagination" *ngIf="productLists.length > productPerPage">
    <ul class="font-dark-green">
        <li [class.boundary]="isBoundary('left')">
            <i class="material-icons" 
               (click)="changePage($event.target)">arrow_left</i>
        </li>
        <li *ngFor="let i of pagination" 
            [class.current]="isCurrentPage(i)"
            (click)="changePage($event.target)">{{ i }}
        </li>
        <li [class.boundary]="isBoundary('right')">
            <i class="material-icons" 
               (click)="changePage($event.target)">arrow_right</i>
        </li>
    </ul>
</div>